products.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CATALOG">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CD" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="CATEGORY"/>
              <xs:element type="xs:string" name="PRODUCT"/>
              <xs:element type="xs:string" name="VITAMIN"/>
              <xs:element type="xs:string" name="CURRENCY"/>
              <xs:element type="xs:short" name="PRICE"/>
              <xs:element type="xs:string" name="REVIEW"/>
              <xs:element type="xs:string" name="PAYMENT"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>